<%- include("header") -%>

<div style="padding: 10% 25%">
  <h1 style="text-align: center; color: white">This is a practice project.</h1>
  <p style="color: white">
    Everything in the backend is coded by me with Node and Express.js, and MongoDB. Styling provided by TheAppBrewery and slightly changed by me.
    <br /><br />

    Though not a perfect one, this to-do list exercise helped me explore the fundamentals of the mentioned tech stack.
    <br /><br />

    <b>Features:</b><br />

    Use like Google Keep. Add items, and check to cross and delete them. You can create your own To-Do list by expanding the URL to your liking.
    <br /><br />

    Example: https://guarded-beyond-92108.herokuapp.com/<b>ListName</b>
    <br /><br />
    This To-Do app does not have authentication features. So people can guess your To-Do list name and see it.
    <br /><br />

    Thank you so much for checking this out!
    <br /><br />

    <em>Best,</em><br />
    <b>Jeph</b>
  </p>
</div>

<footer>
  <a href="/">Back to To-Do</a>
</footer>
