<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To-do List</title>
  </head>
  <body>
     <h1>It's <%= dayOfWeek %>! Issa  <%= kindOfDay %>!</h1>

      <!-- the EJS marker contains an EJS variable. It may contain values or objects sent from the server %> %> %> -->
  </body>
</html>
