<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To-do List</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
  <div class="box" id="heading">
    <h1><%= listTitle %>!</h1>
  </div>

  <div class="box">
    <%  for (var i=0; i < newTodoItems.length; i++) { %>
    <div class="item">
      <input type="checkbox" />
      <p> <%= newTodoItems[i] %> </p>
    </div>
    <% } %>

    <form class="item" action="/" method="POST">
      <input id="itemTextField" type="text" name=itemTextField placeholder="New To-do Item" autocomplete="off"/>
      <button type="submit" name="submit">+</button>
  </div>


  </form>

  <!-- the EJS marker contains an EJS variable. It may contain values or objects sent from the server %> %> %> -->
</body>

</html>
